.App {
  width: 100%;
  min-height: 100vh;
  background-color: #FBFBFB;
  position: relative;
}
.header {
  background: #fff;
  padding: 10px 30px;
  box-shadow: 2px 1px 1px #f1f1f1;
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
}
.nav {
  // position: fixed;
  background-color: #fff;
  width: 17%;
  height: calc(100vh - 70px);
  padding: 18px 30px;
  box-shadow: 2px 1px 1px #f1f1f1;
  overflow-y: auto;
}
.app-page {
  width: 83%;
  height: max-content;
  // position: ;
  height: calc(100vh - 70px);
  overflow-y: auto;
}