.App {
  width: 100%;
  min-height: 100vh;
  background-color: #FBFBFB;
}
.header {
  background: #fff;
  padding: 10px 30px;
}
.nav {
  background-color: #fff;
  width: 15%;
  height: 100vh;
  padding: 6px 30px;
}
.app-page {
  width: 85%;
  height: fit-content;
}

