// Header
.header-nav-list {
    display: flex;
}


// Sidenav
.link-switch a {
    display: block;
}
.nav-section h6{
    display: inline;
}
.nav-section ul {
    display: inline;
}
.nav-section ul li{
    list-style: disc;
    display: block;
}
